<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ee_1</key><string>[微笑]</string>
    <key>ee_2</key><string>[呲牙]</string>
    <key>ee_3</key><string>[调皮]</string>
    <key>ee_4</key><string>[出汗]</string>
    <key>ee_5</key><string>[饥饿]</string>
    <key>ee_6</key><string>[悠闲]</string>
    <key>ee_7</key><string>[发怒]</string>
    <key>ee_8</key><string>[吐]</string>
    <key>ee_9</key><string>[害羞]</string>
    <key>ee_10</key><string>[难过]</string>
    <key>ee_11</key><string>[流泪]</string>
    <key>ee_12</key><string>[尴尬]</string>
    <key>ee_13</key><string>[愉快]</string>
    <key>ee_14</key><string>[阴险]</string>
    <key>ee_15</key><string>[憨笑]</string>
    <key>ee_16</key><string>[委屈]</string>
    <key>ee_17</key><string>[抠鼻]</string>
    <key>ee_18</key><string>[困]</string>
    <key>ee_19</key><string>[傲慢]</string>
    <key>ee_20</key><string>[敲打]</string>
    <key>ee_21</key><string>[嘘]</string>
    <key>ee_22</key><string>[疑问]</string>
    <key>ee_23</key><string>[鄙视]</string>
    <key>ee_24</key><string>[爱心]</string>
    <key>ee_25</key><string>[心碎]</string>
    <key>ee_26</key><string>[月亮]</string>
    <key>ee_27</key><string>[闪电]</string>
    <key>ee_28</key><string>[太阳]</string>
    <key>ee_29</key><string>[礼物]</string>
    <key>ee_30</key><string>[色]</string>
    <key>ee_31</key><string>[亲亲]</string>
    <key>ee_32</key><string>[嘴唇]</string>
    <key>ee_33</key><string>[玫瑰]</string>
    <key>ee_34</key><string>[凋谢]</string>
    <key>ee_35</key><string>[强]</string>
    <key>ee_36</key><string>[衰]</string>
    <key>ee_37</key><string>[飞吻]</string>
    <key>ee_38</key><string>[饭]</string>
    <key>ee_39</key><string>[西瓜]</string>
    <key>ee_40</key><string>[OK]</string>
    <key>ee_41</key><string>[刀]</string>
    <key>ee_42</key><string>[差劲]</string>
    <key>ee_43</key><string>[发抖]</string>
    <key>ee_44</key><string>[骷髅]</string>
    <key>ee_45</key><string>[偷笑]</string>
    <key>ee_46</key><string>[再见]</string>
    <key>ee_47</key><string>[擦汗]</string>
    <key>ee_48</key><string>[大哭]</string>
    <key>ee_49</key><string>[拳头]</string>
    <key>ee_50</key><string>[足球]</string>
    <key>ee_51</key><string>[投降]</string>
    <key>ee_52</key><string>[咒骂]</string>
    <key>ee_53</key><string>[疯了]</string>
    <key>ee_54</key><string>[鼓掌]</string>
    <key>ee_55</key><string>[糗大了]</string>
    <key>ee_56</key><string>[左哼哼]</string>
    <key>ee_57</key><string>[哈欠]</string>
    <key>ee_58</key><string>[快哭了]</string>
    <key>ee_59</key><string>[吓]</string>
    <key>ee_60</key><string>[篮球]</string>
    <key>ee_61</key><string>[乒乓]</string>
    <key>ee_62</key><string>[NO]</string>
    <key>ee_63</key><string>[跳跳]</string>
    <key>ee_64</key><string>[怄火]</string>
    <key>ee_65</key><string>[转圈]</string>
    <key>ee_66</key><string>[磕头]</string>
    <key>ee_67</key><string>[回头]</string>
    <key>ee_68</key><string>[跳绳]</string>
    <key>ee_69</key><string>[激动]</string>
    <key>ee_70</key><string>[街舞]</string>
    <key>ee_71</key><string>[献吻]</string>
    <key>ee_72</key><string>[左太极]</string>
    <key>ee_73</key><string>[右太极]</string>
    <key>ee_74</key><string>[闭嘴]</string>
    <key>ee_75</key><string>[冷汗]</string>
    <key>ee_76</key><string>[酷]</string>
    <key>ee_77</key><string>[折磨]</string>
    <key>ee_78</key><string>[便便]</string>
    <key>ee_79</key><string>[菜刀]</string>
    <key>ee_80</key><string>[得意]</string>
    <key>ee_81</key><string>[尴尬]</string>
    <key>ee_82</key><string>[惊恐]</string>
    <key>ee_83</key><string>[猪头]</string>
    <key>ee_84</key><string>[白眼]</string>
    <key>ee_85</key><string>[惊讶]</string>
    <key>ee_86</key><string>[睡]</string>
    <key>ee_87</key><string>[爱情]</string>
    <key>ee_88</key><string>[撇嘴]</string>
    <key>ee_89</key><string>[奋斗]</string>
    <key>ee_90</key><string>[右哼哼]</string>
    <key>ee_91</key><string>[拥抱]</string>
    <key>ee_92</key><string>[坏笑]</string>
    <key>ee_93</key><string>[晕]</string>
    <key>ee_94</key><string>[可伶]</string>
    <key>ee_95</key><string>[弱]</string>
    <key>ee_96</key><string>[握手]</string>
    <key>ee_97</key><string>[胜利]</string>
    <key>ee_98</key><string>[抱拳]</string>
    <key>ee_99</key><string>[蛋糕]</string>
    <key>ee_100</key><string>[啤酒]</string>
    <key>ee_101</key><string>[瓢虫]</string>
    <key>ee_102</key><string>[勾引]</string>
    <key>ee_103</key><string>[爱你]</string>
    <key>ee_104</key><string>[咖啡]</string>
</dict>
</plist>
